<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-设置</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
  <style>
    .input-line {
      width: 560px;
      margin: 20px auto;
    }

    .input-line .layui-form-label {
      width: 160px;
      font-size: 16px;
    }
  </style>
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a><cite>管理员管理</cite></a>
          <a><cite>配置</cite></a>
        </span>
    </div>
    <div class="layui-form" id="subForm">
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">项目点管理</label>
          <div class="layui-input-inline">
            <select lay-search="">
              <option value="">选择项目点</option>
              {foreach $sites as $v}
              <option value="{$v['pro_id']}">{$v['por_name']}</option>
              {/foreach}
            </select>
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/sitesdel')}" data-type="del" data-name="por_id"
                  class="layui-btn layui-btn-danger" lay-filter="demo1">删除项目点
          </button>
          {/if}
        </div>

      </div>
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">项目点添加</label>
          <div class="layui-input-inline">
            <input type="text" lay-verify="title" autocomplete="off" placeholder="请输入项目点"
                   class="layui-input">
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/sitesadd')}" data-type="add" data-name="por_name"
                  class="layui-btn layui-btn-normal" lay-submit="##"
                  lay-filter="demo1">添加项目点
          </button>
          {/if}
        </div>

      </div>
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">保险险种管理</label>
          <div class="layui-input-inline">
            <select lay-search="">
              <option value="">选择保险险种</option>
              {foreach $insurance as $v}
              <option value="{$v['insurance_id']}">{$v['insurance_name']}</option>
              {/foreach}
            </select>
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/insurancedel')}" data-type="del" data-name="insurance_id"
                  class="layui-btn layui-btn-danger" lay-filter="demo1">删除保险险种
          </button>
          {/if}
        </div>
      </div>
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">添加保险险种</label>
          <div class="layui-input-inline">
            <input type="text" lay-verify="title" autocomplete="off" placeholder="请输入保险险种"
                   class="layui-input">
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/insuranceadd')}" data-type="add" data-name="insurance_name"
                  class="layui-btn layui-btn-normal" lay-filter="demo1">添加保险险种
          </button>
          {/if}
        </div>
      </div>
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">公积金缴纳城市管理</label>
          <div class="layui-input-inline">
            <select lay-search="">
              <option value="">选择公积金缴纳城市</option>
              {foreach $fund as $v}
              <option value="{$v['fund_id']}">{$v['fund_name']}</option>
              {/foreach}
            </select>
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/funddel')}" data-type="del" data-name="fund_id"
                  class="layui-btn layui-btn-danger" lay-filter="demo1">删除公积金缴纳城市
          </button>
          {/if}
        </div>
      </div>
      <div class="input-line">
        <div class="layui-form-item">
          <label class="layui-form-label">添加公积金缴纳城市</label>
          <div class="layui-input-inline">
            <input type="text" lay-verify="title" autocomplete="off" placeholder="请输入公积金缴纳城市" class="layui-input">
          </div>
          {if $user['status']==2}
          <button data-url="{:url('admin/fundadd')}" data-type="add" data-name="fund_name"
                  class="layui-btn layui-btn-normal" lay-filter="demo1">添加公积金缴纳城市
          </button>
          {/if}
        </div>
      </div>
      <div class="input-line">
        <div class="layui-form" lay-filter="example">
          <div class="layui-form-item">
            <label class="layui-form-label">代发银行管理</label>
            <div class="layui-input-inline">
              <select lay-search="">
                <option value="">选择代发银行</option>
                {foreach $bankname as $v}
                <option value="{$v['bank_id']}">{$v['bank_name']}</option>
                {/foreach}
              </select>
            </div>
            {if $user['status']==2}
            <button data-url="{:url('admin/backdel')}" data-type="del" data-name="bank_id"
                    class="layui-btn layui-btn-danger" lay-filter="demo1">删除代发银行
            </button>
            {/if}
          </div>

        </div>
      </div>
      <div class="input-line">
        <div class="layui-form" lay-filter="example">
          <div class="layui-form-item">
            <label class="layui-form-label">添加代发银行</label>
            <div class="layui-input-inline">
              <input type="text" lay-verify="title" autocomplete="off"
                     placeholder="请输入代发银行名称"
                     class="layui-input">
            </div>
            {if $user['status']==2}
            <button data-url="{:url('admin/backadd')}" data-type="add" data-name="back_name"
                    class="layui-btn layui-btn-normal" lay-filter="demo1">添加代发银行
            </button>
            {/if}
          </div>

        </div>
      </div>
      <div class="input-line">
        <div class="layui-form" lay-filter="example">
          <div class="layui-form-item">
            <label class="layui-form-label">合同类型管理</label>
            <div class="layui-input-inline">
              <select lay-search="">
                <option value="">选择合同类型</option>
                {foreach $contract as $v}
                <option value="{$v['contract_id']}">{$v['contract_name']}</option>
                {/foreach}
              </select>
            </div>
            {if $user['status']==2}
            <button data-url="{:url('admin/contractdel')}" data-type="del" data-name="contract_id"
                    class="layui-btn layui-btn-danger" lay-filter="demo1">删除合同类型
            </button>
            {/if}
          </div>

        </div>
      </div>
      <div class="input-line">
        <div class="layui-form" lay-filter="example">
          <div class="layui-form-item">
            <label class="layui-form-label">添加合同类型</label>
            <div class="layui-input-inline">
              <input type="text" name="contract_name" lay-verify="title" autocomplete="off"
                     placeholder="请输入合同类型名称"
                     class="layui-input">
            </div>
            {if $user['status']==2}
            <button data-url="{:url('admin/contractadd')}" data-type="add" data-name="contract_name"
                    class="layui-btn layui-btn-normal" lay-filter="demo1">添加合同类型
            </button>
            {/if}
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element', 'form', 'layedit'], function () {
    var element = layui.element;
    var form = layui.form;
    var $ = layui.$;
    $("#subForm").on('click', '.layui-btn', function () {
      var $this = $(this);
      var url = $this.attr("data-url");
      var event = $this.attr("data-type");
      var data = '';
      var name = $this.attr('data-name');
      if (event === 'add') {
        data = $this.prev().find('input').val();
      } else if (event === 'del') {
        data = $this.prev().find('select').val();
      }

      if (data === '') {
        layer.msg('请输入内容！', {icon: 2});
        return false;
      }
      $.ajax({
        url: url,
        data: {name: data},
        type: 'post',
        dataType: 'json',
        success: function (res) {
          if (res.code === 1) {

            layer.msg(res.msg,{
              icon:1,
              time: 1000, //1秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
              end: function () {
                window.location.reload();//页面刷新
              }});
          } else {

            layer.msg(res.msg,{icon:2});
          }
        }
      });
    })
  });
</script>
</body>
</html>
