<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-添加管理员</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
  <style>
    .layui-form-item {
      margin: 30px 0;
    }

    .layui-form-label {
      font-size: 18px;
      width: 120px;
    }

    .layui-input-block {
      margin-left: 156px;
      min-height: 40px;
    }
  </style>
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="javascript:;">管理员管理</a>
          <a href="administrator.html">角色管理</a>
          <a><cite>添加管理员</cite></a>
        </span>
    </div>
    <div class="layui-row">
      <div class="layui-col-xs9 layui-col-md6 layui-col-md-offset3">
        <form class="layui-form" action="" lay-filter="example">

          <div class="layui-form-item">
            <label for="role_name" class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入账号"
                     class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
              <input type="text" name="admin" lay-verify="title" autocomplete="off" placeholder="请输入账号"
                     class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input type="password" name="pwd" lay-verify="title" autocomplete="off" placeholder="请输入账号"
                     class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label for="site" class="layui-form-label">管理项目点</label>
            <div class="layui-input-block">
              {foreach $project as $v}
              <input type="checkbox" name="project[{$v['por_name']}]" title="{$v['por_name']}">
              {/foreach}
            </div>
            <!--<div class="layui-input-block">
              <select name="project" id="site">
                <option value="">请选择管理项目点</option>
                {foreach $project as $v}
                <option value="{$v['pro_id']}">{$v['por_name']}</option>
                {/foreach}
              </select>
            </div>-->
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn layui-btn-fluid layui-btn-normal" lay-submit="##" lay-filter="demo1">确认添加
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element'], function () {
    var element = layui.element,
      form = layui.form,
      $ = layui.$;

    form.on('submit(demo1)', function (data) {
      var project = "";
      for (var item in data.field) {
        if (item.indexOf('project') >= 0) {
          var str = item.slice(8, -1);
          project += str + ',';
          delete data.field[item];
        }
      }
      data.field.project = project;
      console.log(data.field);
      $.ajax({
        url: "{:url('power/addadmin')}",
        type: 'post',
        dataType: 'json',
        data: data.field,
        success: function (res) {
          if (res.code === 1) {
            layer.msg(res.msg, {icon: 1});
            window.location = "{:url('admin/power/administrator')}";
          } else {
            layer.msg(res.msg, {icon: 2});
          }
        }
      });
      return false;
    });
  });
</script>
</body>
</html>
