<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-管理员管理</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">

  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="/html/index.html">管理员管理</a>
          <a><cite>角色管理</cite></a>
        </span>
    </div>
    <div class="demoTable">
      搜索角色名称：
      <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
      </div>
      <button class="layui-btn layui-btn-normal layui-icon layui-icon-search" data-type="reload">搜索</button>
      <a target="rightContent" href="{:url('admin/power/addadmin')}"
         class="layui-btn layui-btn-normal iconfont icon-tianjia">添加</a>
      <button class="layui-btn layui-btn-danger layui-icon layui-icon-delete" data-type="delCheckData">删除</button>
    </div>
    <table class="layui-hide" id="mytable" lay-filter="test"></table>




    <script type="text/html" id="barDemo">
      {{#  if(d.status !=2){ }}
      <a class="layui-btn layui-btn-primary layui-icon layui-icon-delete" style="color: #E85141;" lay-event="del">删除</a>
      <button data-url="{:url('admin/power/editadmin')}" class="layui-btn layui-btn-primary iconfont icon-icon-xiugai" style="color: #236CFF;" lay-event="edit">修改</button>
      <button data-url="{:url('admin/power/person')}" class="layui-btn layui-btn-primary layui-icon layui-icon-user"
              style="color: #1BBD9D;" lay-event="member">成员管理
      </button>

      <button data-url="{:url('admin/power/viewjurisdiction')}"
              class="layui-btn layui-btn-primary layui-icon layui-icon-star" style="color: #2C3E50;" lay-event="view">
        查看权限
      </button>

      <button data-url="{:url('admin/power/givejurisdiction')}" class="layui-btn layui-btn-primary iconfont icon-shezhi"
              style="color: #236CFF;" lay-event="allocation">配置权限
      </button>
      {{#}}}
    </script>
  </div>

</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element', 'form'], function () {
    var element = layui.element,
      $ = layui.$,
      table = layui.table,
      form = layui.form;


    table.render({
      elem: '#mytable',
      url: "{:url('power/administrator')}",
      method: "post",
      height: 'full-130',
      parseData: function (res) { //res 即为原始返回的数据
        var data = JSON.parse(res);
        //console.log(data.data)
        return {
          "code": data.code, //解析接口状态
          // "msg": res.message, //解析提示文本
          "count": data.count, //解析数据长度
          "data": data.data, //解析数据列表
        };
      },
      title: '用户数据表',
      cols: [[
        {checkbox: true, fixed: true},
        {field: 'admin_id', title: 'ID', width: 80, fixed: 'left', sort: true,},
        {field: 'admin', title: '角色账号', width: 120},
        {field: 'project', title: '管理项目点', width: 120},
        {title: '操作', toolbar: '#barDemo', width: 700}
      ]],
      id: 'testReload',
      page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        groups: 5, //只显示 1 个连续页码
        first: false, //不显示首页
        last: false, //不显示尾页
      }
    });

    var active = {
      reload: function () {
        var demoReload = $('#demoReload');

        //执行重载
        table.reload('testReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            role_name: demoReload.val(),
          }
        });
      },
      delCheckData: function () {
        var checkStatus = table.checkStatus('testReload'),
          data = checkStatus.data;
        //console.log(data);

        if (data.length > 0) {
          var ids = '';
          for (var i = 0; i < data.length; i++) {
            ids += data[i].admin_id + ',';
          }

          layer.confirm('您确认要删除所选条目吗？', function (index) {
            $.ajax({
              url: "{:url('power/delall')}?role_id=" + ids,
              type: 'post',
              data: ids,
              success: function (res) {
                if(res.code===1){
                  $(".layui-form-checked").not('.header').parents('tr').remove();

                  layer.msg(res.msg, {icon: 1});
                }else{
                  layer.msg(res.msg, {icon: 2});
                }
              },
              complete:function () {
                layer.close(index);
              }
            });

          })
        } else {
          layer.msg('请选择要删除的条目！', {icon: 2});
        }
      }
    };

    $('.demoTable').on('click', '.layui-btn', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
    });
    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        layer.confirm('真的删除行么', function (index) {
          $.ajax({
            url: "{:url('power/del')}",
            type: 'post',
            data: {
                id:data.admin_id,
            },
              dataType:'json',
            success: function (res) {

              if(res.code===1){
                obj.del();
                layer.msg(res.msg, {icon: 1});
              }else{
                layer.msg(res.msg, {icon: 2});
              }
            },
            complete:function () {
              layer.close(index);
            }
          });
        });
      } else if (obj.event === 'edit') {
        var url=$(this).attr("data-url");
        window.location.href = url + "?role_id=" + data.admin_id;
      } else if (obj.event === 'member') {
        var url = $(this).attr("data-url");
        window.location.href = url + "?project=" + data.project;
      } else if (obj.event === 'view') {
        var url = $(this).attr("data-url");
        window.location.href = url + "?role_id=" + data.admin_id;
      } else if (obj.event === 'allocation') {
        var url = $(this).attr("data-url");
        window.location.href = url + "?role_id=" + data.admin_id;
      }
    });
  });
</script>
</body>
</html>
