<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-成员管理</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
  <style>

  </style>
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="administrator.html">管理员管理</a>
          <a href="administrator.html">角色管理</a>
          <a><cite>成员管理</cite></a>
        </span>
    </div>

    <table class="layui-hide" id="mytable" lay-filter="test"></table>


  </div>
</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element'], function () {
    var element = layui.element;
    var table = layui.table;
    table.render({
      elem: '#mytable',
      url: "{:url('power/person')}",
      title: '用户数据表',
      method: 'post',
        height:'full-140',
      parseData: function(res) { //res 即为原始返回的数据
        var data=JSON.parse(res);
       console.log(data)
        return {
          "code": data.code, //解析接口状态
          // "msg": res.message, //解析提示文本
          "count": data.count, //解析数据长度
          "data": data.data, //解析数据列表
        };

      },
      cols: [[
        /*{checkbox: true, fixed: true},*/
        {field: 'query_id', title: 'ID', width: 80, fixed: 'left', sort: true,},
        {field: 'station', title: '部门职称', width: 120},
        {field: 'status', title: '状态', width: 120,templet(obj){
            if(obj.status==1){
              return '在职'
            }else if(obj.status==0){
              return '离职'
            }

          }},
        {field: 'mobile', title: '手机号', width: 120},
       {field: 'site', title: '地区', width: 120},
        {field: 'indate', title: '在职时长', width: 120},
      ]],
      id: 'testReload',
      page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        groups: 1, //只显示 1 个连续页码
        first: false, //不显示首页
        last: false, //不显示尾页
      },
    });
    var $ = layui.$, active = {
      add:function(){
        table.reload('testReload',{
          parseData: function(res) { //res 即为原始返回的数据
            var data=JSON.parse(res);
            var arr=data.data;
            arr.unshift({});
            return {
              "code": data.code, //解析接口状态
              // "msg": res.message, //解析提示文本
              "count": data.count, //解析数据长度
              "data": arr, //解析数据列表
            };
          },
        })
      },
      delCheckData: function () {
        var checkStatus = table.checkStatus('testReload'),
          data = checkStatus.data;
       // console.log(data);

        if (data.length > 0) {
          var ids = '';
          for (var i = 0; i < data.length; i++) {
            ids += data[i].query_id + ',';
          }
          layer.confirm('您确认要删除所选条目吗？', function (index) {
            $.ajax({
              url:"{:url('personnel/powerdel')}?query_id="+ids,
              type:'post',
              dataType:'json',
              data:data,
              success:function(res){
                res  = JSON.parse(res);

                table.reload('testReload');
                if (res.code===1){
                  table.reload('testReload');
                  layer.msg(res.msg,{icon:1})
                } else{
                  layer.msg(res.msg,{icon:2})
                }
              },
              complete:function () {
                layer.close(index)
              }
            });
          })
        } else {
          layer.msg('请选择要删除的条目！', {icon: 2});
        }
      }
    };

    $('.demoTable').on('click', '.layui-btn', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
    });
    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;
      //console.log(obj)
      if (obj.event === 'del') {
        layer.confirm('您确定要删除行吗？', function (index) {
          $.ajax({
            url:"{:url('personnel/perdel')}",
            type:'post',
            data:data,
            success:function(res){
              res=JSON.parse(res);
              if(res.code ===1){
                obj.del();
                layer.msg(res.msg,{icon:1})
              }else{
                layer.msg(res.msg,{icon:2})
              }
            },
            complete:function () {
              layer.close(index);
            }
          });
        });
      }else if (obj.event === 'submit') {
        layer.confirm('您确认要添加吗？', function (index) {
          $.ajax({
            url:"{:url('personnel/poweradd')}",
            type:'post',
            dataType:'json',
            data:data,
            success:function(res){
              res=JSON.parse(res);
              if (res.code ===1) {
                layer.msg(res.msg,{icon:1});
                window.history.go(0);
              }else{
                layer.msg(res.msg,{icon:2});
              }
            },
            complete:function () {
              layer.close(index);
            }
          });
        });
      }
    });
  });
</script>
</body>
</html>
