<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-工资核算提交</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
  <style>
    .layui-table-header .layui-table-cell {
      white-space: normal;
      line-height: 1.5;
    }
  </style>
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <!--<form method="post" action="{:url('Excel/up_soc')}" enctype ="multipart/form-data">
         <input type="file" name="file" />
       <input type="submit" />
     </form>-->


    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="javascript:;">财务管理</a>
          <a><cite>社保费用核算</cite></a>
        </span>
    </div>
    <div class="demoTable">
      <div style="margin-bottom: 20px">
        <button class="layui-btn layui-btn-normal layui-icon layui-icon-refresh" data-type="refresh">刷新</button>
        <button id="upLoadFile" class="layui-btn layui-btn-normal iconfont icon-tianjia">批量导入</button>
        <button class="layui-btn layui-btn-normal iconfont icon-tianjia" data-type="add">添加</button>
        <button class="layui-btn layui-btn-normal iconfont icon-shangchuan" data-type="submitAll">批量提交</button>
<!--        <button class="layui-btn layui-btn-danger layui-icon layui-icon-delete" data-type="delCheckData">删除</button>-->
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-inline">
          <input class="layui-input" name="name" id="name" autocomplete="off">
        </div>
      </div>
      <div class="layui-inline">
        <div class="layui-form">
          <label class="layui-form-label">项目点：</label>
          <div class="layui-input-inline">
            <select name="site" id="site" lay-verify="required" lay-search="">
              <option value="">直接选择或搜索选择</option>
              {foreach $sites as $v}
              <option class="ids" value="{$v['por_name']}">{$v['por_name']}</option>
              {/foreach}
            </select>
          </div>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">日期：</label>
        <div class="layui-input-inline">
          <input class="layui-input" name="date" id="date" autocomplete="off">
        </div>
      </div>
      <button class="layui-btn layui-btn-normal layui-icon layui-icon-search" data-type="search">搜索</button>

    </div>
    <table class="layui-hide" id="mytable" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">

      </div>
    </script>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary iconfont icon-shangchuan" style="color: #236CFF;" lay-event="submit">提交</a>
      <a class="layui-btn layui-btn-primary layui-icon layui-icon-delete" style="color: #E85141;"
         lay-event="del">删除</a>
    </script>
  </div>
</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element', 'upload', 'form', 'laydate'], function () {
    var element = layui.element,
      table = layui.table,
      upload = layui.upload,
      form = layui.form,
      laydate = layui.laydate,
      loading=null;
    //日期
    laydate.render({
      elem: '#date',
      type: 'month',
    });
    upload.render({ //允许上传的文件后缀
      elem: '#upLoadFile',
      url: "{:url('Excel/up_soc')}",
      accept: 'file', //excel文件
      exts: 'xlsx|xls', //允许上传的文件后缀名
      before:function(){
        loading=layer.msg('上传中', {
          icon: 16
          ,shade: 0.01
        });
      },
      done: function (res) {
        layer.close(loading);
        loading=null;
        if (res.code === 1) {
          layer.msg(res.msg, {icon: 1});
          table.reload('testReload');
        } else {
          layer.msg(res.msg, {icon: 2});
        }

      }
    });

    table.render({
      elem: '#mytable',
      url: "{:url('finance/socialsecurity')}",
      title: '社保费用核算',
      height: 'full-180',
      method: 'post',
      parseData: function (res) { //res 即为原始返回的数据
        var data = JSON.parse(res);
        console.log(data)
        return {
          "code": data.code, //解析接口状态
          // "msg": res.message, //解析提示文本
          "count": data.count, //解析数据长度
          "data": data.data, //解析数据列表
        };
      },
      done: function (res, curr, count) {
        count || this.elem.next('.layui-table-view').find('.layui-table-header').css('overflow', 'auto');
        layui.each($('.tabSelect'), function (index, item) {
          var elem = $(item);
          elem.val(elem.data('value')).parents('div.layui-table-cell').css('overflow', 'visible');
        });
        form.render();
      },
      totalRow: true,
      cols: [[
        {checkbox: true, fixed: true, rowspan: 2},
        {align: 'center', field: 'socialSecurityNumber', title: '社保编号', width: 120, rowspan: 2, edit: true},
        {align: 'center', field: 'name', title: '姓名', width: 120, rowspan: 2, edit: true},
        {align: 'center', field: 'sex', title: '性别', width: 120, rowspan: 2, edit: true},
        {align: 'center', field: 'IDNumber', title: '身份证号码', width: 180, rowspan: 2, edit: true},
        {align: 'center', field: 'censusRegister', title: '户籍性质', width: 180, rowspan: 2, edit: true},
        {align: 'center', field: 'declare', title: '单位申报职工月平均工资性收入', width: 120, rowspan: 2, edit: true, totalRow: true},
        {align: 'center', field: 'basics', title: '月缴费基数', width: 120, rowspan: 2, edit: true, totalRow: true},
        {align: 'center', title: '个人月缴纳金额明细', colspan: 5},
        {align: 'center', title: '单位月缴纳金额明细', colspan: 7},
        {align: 'center', field: 'total', title: '总计', width: 180, rowspan: 2, edit: true, totalRow: true},
        {align: 'center', field: 'site', title: '项目点', width: 180, rowspan: 2, templet: function (obj) {
            return '<select class="tabSelect" name="site" lay-filter="testSelect" lay-verify="required" data-value="' + obj.site + '">{foreach $sites as $v}' + ' <option class="ids" value="{$v['por_name']}">{$v['por_name']}</option>{/foreach} </select>';}, totalRow: true},

        {align: 'center', field: 'daytime', title: '缴纳社保日期', width: 180, rowspan: 2, edit: true,},
        {align: 'center', title: '操作', toolbar: '#barDemo', width: 250, rowspan: 2}
      ],
        [
          {align: 'center', field: 'endowmentInsurance', title: '养老保险（8%）', width: 140, edit: true, totalRow: true},
          {align: 'center', field: 'medicalInsurance', title: '医疗保险（2%）', width: 140, edit: true, totalRow: true},
          {align: 'center', field: 'unemploymentInsurance', title: '失业保险（0.5%）', width: 150, edit: true, totalRow: true},
          {align: 'center', field: 'largeMedicalInsurance', title: '大额医保', width: 140, edit: true, totalRow: true},
          {align: 'center', field: 'personalTotal', title: '个人缴纳合计', width: 140, edit: true, totalRow: true},
          {align: 'center', field: 'cendowmentInsurance', title: '养老保险（20%）', width: 150, edit: true, totalRow: true},
          {align: 'center', field: 'cmedicalInsurance', title: '医疗保险（9.5%）', width: 150, edit: true, totalRow: true},
          {align: 'center', field: 'cunemploymentInsurance', title: '失业保险（0.5%）', width: 150, edit: true, totalRow: true},
          {align: 'center', field: 'cemploymentInjuryInsurance', title: '工伤保险（0.16%）', width: 160, edit: true, totalRow: true},
          {align: 'center', field: 'cmaternityInsurance', title: '生育保险（1%）', width: 140, edit: true, totalRow: true},
          {align: 'center', field: 'clargeMedicalInsurance', title: '大额医保（1.5%）', width: 150, edit: true, totalRow: true},
          {align: 'center', field: 'companyTotal', title: '单位缴纳合计', width: 140, edit: true, totalRow: true},
        ]],
      id: 'testReload',
      page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        groups: 5, //只显示 1 个连续页码
        first: false, //不显示首页
        last: false, //不显示尾页

      }
    });

    // 监听修改update到表格中
    form.on('select(testSelect)', function (data) {
      // debugger;
      var elem = $(data.elem);
      var trElem = elem.parents('tr');

      var tableData = table.cache['testReload'];
      // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
      tableData[trElem.data('index')][elem.attr('name')] = data.value;
      // 其他的操作看需求 TODO
    });
    var $ = layui.$, active = {
      //搜索
      search: function () {
        var name = $('#name');
        var site = $('#site');
        var date = $('#date');

        //执行重载
        table.reload('testReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            name: name.val(),
            site: site.val(),
            date: date.val(),
          }
        });
      },
      //多选删除
      delCheckData: function () {
        var checkStatus = table.checkStatus('testReload'),
          data = checkStatus.data;

        if (data.length > 0) {
          var ids = '';
          for (var i = 0; i < data.length; i++) {
            ids += data[i].soc_id + ',';
          }
          layer.confirm('您确认要删除所选条目吗？', function (index) {
            layer.close(index);
            loading=layer.msg('删除中', {
              icon: 16
              ,shade: 0.01
            });
            $.ajax({
              url: "{:url('admin/finance/examinedel')}?examine_id=" + ids,
              type: 'post',
              data: ids,
              dataType: 'json',
              success: function (res) {

                if (res.code === 1) {
                  table.reload('testReload');
                  layer.msg(res.msg, {icon: 1});
                } else {
                  layer.msg(res.msg, {icon: 2});
                }
              },
              complete:function () {
                layer.close(loading);
                loading=null;
              }
            });
          })
        } else {
          layer.msg('请选择要删除的条目！', {icon: 2});
        }
      },
      //多选提交
      submitAll:function () {
        var checkStatus = table.checkStatus('testReload'),
          data = checkStatus.data;
        var load=null;
        if (data.length > 0) {

          layer.confirm('您确认要提交所选条目吗？', function (index) {
            layer.close(index);
            load=layer.msg('提交中', {
              icon: 16
              ,shade: 0.01
            });
            $.ajax({
              url: "{:url('finance/addto')}",
              type:'post',
              dataType:'json',
              data:{data:data},
              success:function(res){
                if(res.code===1){
                  layer.msg(res.msg, {icon: 1});
                  table.reload('testReload');
                }else{
                  layer.msg(res.msg, {icon: 2});
                }

              },
              complete:function () {
                layer.close(load);
                load=null;
              }
            });
          })
        } else {
          layer.msg('请选择要提交的条目！', {icon: 2});
        }
      },
      //添加
      add: function (obj) {
        table.reload('testReload', {
          parseData: function (res) { //res 即为原始返回的数据
            var data = JSON.parse(res);
            var arr = data.data;
            arr.unshift({});
            return {
              "code": data.code, //解析接口状态
              // "msg": res.message, //解析提示文本
              "count": data.count, //解析数据长度
              "data": arr, //解析数据列表
            };
          },
        })
      },
      //刷新
      refresh:function () {
        window.location.reload();
      }
    };

    $('.demoTable').on('click', '.layui-btn', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
      layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
    });

    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
    });
    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {

        layer.confirm('真的删除行么', function (index) {
          $.ajax({
            url: "{:url('finance/del')}",
            type: 'post',
            dataType: 'json',
            data: data,
            success: function (res) {

              if (res.code) {
                obj.del();
                layer.msg(res.msg, {icon: 1});
              } else {
                layer.msg(res.msg, {icon: 2});
              }
            },
            complete: function () {
              layer.close(index);
            }
          });
        });
      } else if (obj.event === 'submit') {
        if(JSON.stringify(data)=="{}"){
          layer.msg('请填写内容！', {icon: 2});
        }else {
          layer.confirm('您确认要提交吗？', function (index) {
            $.ajax({
              url: "{:url('finance/addto')}",
              type: 'post',
              dataType: 'json',
              data: {data: [data]},
              success: function (res) {

                if (res.code === 1) {
                  window.history.go(0);
                  layer.msg(res.msg, {icon: 1})
                } else {
                  layer.msg(res.msg, {icon: 2})
                }
              },
              complete: function () {
                layer.close(index);
              }
            });
          });
        }
      }
    });
  });
</script>
</body>
</html>
