<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-工资核算提交</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="javascript:;">财务管理</a>
          <a><cite>工资核算提交</cite></a>
        </span>
    </div>
    <div class="demoTable">
      <div style="margin-top: 20px">
        <button class="layui-btn layui-btn-normal iconfont icon-tianjia">批量导入</button>
        <button class="layui-btn layui-btn-normal iconfont icon-tianjia" data-type="add">添加</button>
      </div>
    </div>
    <table class="layui-hide" id="mytable" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">

      </div>
    </script>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary iconfont icon-shangchuan" style="color: #236CFF;" lay-event="submit">提交</a>
    </script>

  </div>
</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element'], function () {
    var element = layui.element;
    var table = layui.table;
    table.render({
      elem: '#mytable',
      url: "{:url('finance/submitSalary')}",
      toolbar: '#toolbarDemo',
      title: '用户数据表',
      method:'post',
      parseData: function(res) { //res 即为原始返回的数据
        var data=JSON.parse(res);

        return {
          "code": data.code, //解析接口状态
          // "msg": res.message, //解析提示文本
          "count": data.count, //解析数据长度
          "data": data.data, //解析数据列表
        };
      },
      totalRow: true,
      cols: [[
        {checkbox: true, fixed: true},
        {align: 'center', field: 'wid', title: 'ID', width: 80, fixed: 'left', sort: true,totalRowText: '合计'},
        {align: 'center', field: 'staffid', title: '职工代码', width: 110, sort: true,},
        {align: 'center', field: 'site', title: '项目点', width: 80,},
        {align: 'center', field: 'idnumber', title: '身份证号码', width: 180},
        {align: 'center', field: 'name', title: '姓名', width: 120,},
        {align: 'center', field: 'date', title: '发薪月份', width: 120,},
        {align: 'center', field: 'worktype', title: '工种', width: 120,},
        {align: 'center', field: 'signdays', title: '考勤天数', width: 120},
        {align: 'center', field: 'salary', title: '应发工资', width: 120,totalRow: true},
        {align: 'center', field: 'socialsecurity', title: '社保扣款', width: 120,totalRow: true},
        {align: 'center', field: 'reservedfunds', title: '公积金扣款', width: 120,totalRow: true},
        {align: 'center', field: 'taxsalary', title: '计税工资', width: 120,totalRow: true},
        {align: 'center', field: 'deduct', title: '专项附加扣除', width: 120,totalRow: true},
        {align: 'center', field: 'personaltax', title: '个调税', width: 120,totalRow: true},
        {align: 'center', field: 'truesalary', title: '实发工资', width: 120,totalRow: true},
        {align: 'center', field: 'signature', title: '签名', width: 120},
        {align: 'center', title: '操作', toolbar: '#barDemo', width: 125}
      ]],
      id: 'testReload',
      page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        groups: 5, //只显示 1 个连续页码
        first: false, //不显示首页
        last: false, //不显示尾页

      },
    });
    var $ = layui.$, active = {
      search: function () {
        var name = $('#name');
        var site = $('#site');
        var date = $('#date');

        //执行重载
        table.reload('testReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            name: name.val(),
            site: site.val(),
            date: date.val(),
          }
        });
      },
      add:function(){
        table.reload('testReload',{
          parseData: function(res) { //res 即为原始返回的数据
            var data=JSON.parse(res);
            var arr=data.data;
            arr.unshift({});
            return {
              "code": data.code, //解析接口状态
              // "msg": res.message, //解析提示文本
              "count": data.count, //解析数据长度
              "data": arr, //解析数据列表
            };
          },
        })
      }
    };

    $('.demoTable').on('click', '.layui-btn', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
    });
    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;
      //console.log(obj)
     if (obj.event === 'submit') {
        layer.confirm('您确认要添加吗？', function (index) {
          $.ajax({
            url:"{:url('admin/add')}",
            type:'post',
            dataType:'json',
            data:data,
            success:function(res){
              window.history.go(0);
              layer.close(index);
            }
          });
        });
      }
    });

  });
</script>
</body>
</html>
