<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>上海智慧务工-工资核算提交</title>
  <link rel="stylesheet" href="__STATIC__/resources/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/resources/css/style.css">
</head>
<body style="height:100%;overflow:scroll" class="layui-layout-body">
<div class="layui-layout">

  <!-- 内容主体区域 -->
  <div style="padding: 15px;">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
          <a href="javascript:;">财务管理</a>
          <a><cite>工资核算提交</cite></a>
        </span>
    </div>
    <div class="demoTable">
      <div style="margin-top: 20px">
        <button class="layui-btn layui-btn-normal layui-icon layui-icon-refresh" data-type="refresh">刷新</button>
        <button class="layui-btn layui-btn-normal iconfont icon-tianjia" id="upLoadFile">批量导入</button>
        <button class="layui-btn layui-btn-normal iconfont icon-tianjia" data-type="add">添加</button>
        <button class="layui-btn layui-btn-normal iconfont icon-shangchuan" data-type="submitAll">批量提交</button>
      </div>
    </div>
    <table class="layui-hide" id="mytable" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">

      </div>
    </script>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary iconfont icon-shangchuan" style="color: #236CFF;" lay-event="submit">提交</a>
    </script>

  </div>
</div>
<script src="__STATIC__/resources/layui/layui.js?t=1554901098009"></script>
<script>
  layui.use(['table', 'element','form','upload'], function () {
    var element = layui.element,
      table = layui.table,
      form=layui.form,
      upload=layui.upload,
      loading=null;

    upload.render({ //允许上传的文件后缀
      elem: '#upLoadFile',
      url: "{:url('Excel/up_sub')}",
      accept: 'file', //excel文件
      exts: 'xlsx|xls', //允许上传的文件后缀名
      before:function(){
        loading=layer.msg('上传中', {
          icon: 16
          ,shade: 0.01
        });
      },
      done: function (res) {
        layer.close(loading);
        loading=null;
        if (res.code === 1) {
          layer.msg(res.msg, {icon: 1});
          table.reload('testReload');
        }else{
          layer.msg(res.msg, {icon: 2});
        }

      }
    });
    //日期格式化
    var formatDate=function(date){
        function add0(m) {
          return m < 10 ? '0' + m : m
        }

        let time = new Date(date * 1000);
        let y = time.getFullYear();
        let m = time.getMonth() + 1;
        let d = time.getDate();
        return y + '-' + add0(m);
    };

    table.render({
      elem: '#mytable',
      url: "{:url('finance/submitsalary')}",
      title: '用户数据表',
      height:'full-120',
      method:'post',
      parseData: function(res) { //res 即为原始返回的数据
        var data=JSON.parse(res);
        var len=data.data.length;
        for(var i=0;i<len;i++){
          data.data[i].date=formatDate(data.data[i].date)
        }
        return {
          "code": data.code, //解析接口状态
          // "msg": res.message, //解析提示文本
          "count": data.count, //解析数据长度
          "data": data.data, //解析数据列表
        };
      },
      done: function (res, curr, count) {
        count || this.elem.next('.layui-table-view').find('.layui-table-header').css('overflow', 'auto');
        layui.each($('.tabSelect'), function (index, item) {
          var elem = $(item);
          elem.val(elem.data('value')).parents('div.layui-table-cell').css('overflow', 'visible');
        });
        form.render();
      },
      totalRow: true,
      cols: [[
        {checkbox: true, fixed: true, rowspan: 2},
        {align: 'center', field: 'staffid', title: '职工代码', width: 110, sort: true,edit:true},
        {align: 'center', field: 'site', title: '项目点', width: 120,templet: function (obj) {
            return '<select class="tabSelect" name="site" lay-filter="testSelect" lay-verify="required" data-value="'+obj.site+'">{foreach $sites as $v}'+' <option class="ids" value="{$v['por_name']}">{$v['por_name']}</option>{/foreach} </select>';
          }},
        {align: 'center', field: 'idnumber', title: '身份证号码', width: 180,edit:true},
        {align: 'center', field: 'name', title: '姓名', width: 120,edit:true},
        {align: 'center', field: 'date', title: '发薪月份', width: 120,edit:true},
        {align: 'center', field: 'worktype', title: '工种', width: 120,edit:true},
        {align: 'center', field: 'signdays', title: '考勤天数', width: 120,edit:true},
        {align: 'center', field: 'salary', title: '应发工资', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'socialsecurity', title: '社保扣款', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'reservedfunds', title: '公积金扣款', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'taxsalary', title: '计税工资', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'deduct', title: '专项附加扣除', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'personaltax', title: '个调税', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'truesalary', title: '实发工资', width: 120,totalRow: true,edit:true},
        {align: 'center', field: 'signature', title: '签名', width: 120,edit:true},
        {align: 'center', title: '操作', toolbar: '#barDemo', width: 125}
      ]],
      id: 'testReload',
      page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
        //,curr: 5 //设定初始在第 5 页
        groups: 5, //只显示 1 个连续页码
        first: false, //不显示首页
        last: false, //不显示尾页

      },
    });
    // 监听修改update到表格中
    form.on('select(testSelect)', function (data) {
      // debugger;
      var elem = $(data.elem);
      var trElem = elem.parents('tr');

      var tableData = table.cache['testReload'];
      // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
      tableData[trElem.data('index')][elem.attr('name')] = data.value;
      // 其他的操作看需求 TODO
    });
    var $ = layui.$, active = {
      //搜索
      search: function () {
        var name = $('#name');
        var site = $('#site');
        var date = $('#date');

        //执行重载
        table.reload('testReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            name: name.val(),
            site: site.val(),
            date: date.val(),
          }
        });
      },
      //批量提交
      submitAll:function () {
        var checkStatus = table.checkStatus('testReload'),
          data = checkStatus.data;
        var load=null;
        if (data.length > 0) {

          layer.confirm('您确认要提交所选条目吗？', function (index) {
            layer.close(index);
            load=layer.msg('提交中', {
              icon: 16
              ,shade: 0.01
            });
            $.ajax({
              url:"{:url('finance/add')}",
              type:'post',
              dataType:'json',
              data:{data:data},
              success:function(res){
                if(res.code===1){
                  layer.msg(res.msg, {icon: 1});
                  table.reload('testReload');
                }else{
                  layer.msg(res.msg, {icon: 2});
                }

              },
              complete:function () {
                layer.close(load);
                load=null
              }
            });
          })
        } else {
          layer.msg('请选择要提交的条目！', {icon: 2});
        }
      },
      //添加
      add:function(){
        table.reload('testReload',{
          parseData: function(res) { //res 即为原始返回的数据
            var data=JSON.parse(res);
            var arr=data.data;
            var len=data.data.length;
            for(var i=0;i<len;i++){
              data.data[i].date=formatDate(data.data[i].date)
            }
            arr.unshift({});
            return {
              "code": data.code, //解析接口状态
              // "msg": res.message, //解析提示文本
              "count": data.count, //解析数据长度
              "data": arr, //解析数据列表
            };
          },
        })
      },
      //刷新
      refresh:function () {
        window.location.reload();
      }
    };

    $('.demoTable').on('click', '.layui-btn', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    //监听单元格编辑
    table.on('edit(test)', function (obj) {
      var value = obj.value, //得到修改后的值
        data = obj.data, //得到所在行所有键值
        field = obj.field; //得到字段
    });
    //监听行工具事件
    table.on('tool(test)', function (obj) {
      var data = obj.data;

      if (obj.event === 'submit') {
        if(JSON.stringify(data)=="{}"){
          layer.msg('请填写内容！', {icon: 2});
        }else {
          layer.confirm('您确认要添加吗？', function (index) {
            $.ajax({
              url: "{:url('finance/add')}",
              type: 'post',
              dataType: 'json',
              data: {data: [data]},
              success: function (res) {

                if (res.code === 1) {
                  layer.msg(res.msg, {icon: 1});
                  window.history.go(0);
                } else {
                  layer.msg(res.msg, {icon: 2});
                }
              },
              complete: function () {
                layer.close(index);
              }
            });
          });
        }
      }
    });

  });
</script>
</body>
</html>
